\documentclass[11pt,a4paper,sans]{moderncv}

% moderncv themes
\moderncvstyle{classic}
\moderncvcolor{blue}

% character encoding
\usepackage[utf8]{inputenc}

% adjust the page margins
\usepackage[scale=0.75]{geometry}

% personal data
\name{\BLOCK{ if name }\VAR{name}\BLOCK{ else }Professional\BLOCK{ endif }}{\BLOCK{ if surname }\VAR{surname}\BLOCK{ else }Candidate\BLOCK{ endif }}
\BLOCK{ if address }\address{\VAR{address}}\BLOCK{ endif }
\BLOCK{ if phone }\phone[mobile]{\VAR{phone}}\BLOCK{ endif }
\BLOCK{ if email }\email{\VAR{email}}\BLOCK{ endif }
\BLOCK{ if linkedin_url }\extrainfo{\href{\VAR{linkedin_url}}{LinkedIn}}\BLOCK{ endif }

\begin{document}

\recipient{Hiring Manager}{Company Name}
\date{\today}
\opening{Dear Hiring Manager,}
\closing{Sincerely,}
\enclosure[Attached]{Resume}

\makelettertitle

\VAR{cover_letter_text}

\makeletterclosing

\end{document}
