\documentclass[11pt,a4paper,sans]{moderncv}

% moderncv themes
\moderncvstyle{classic} % style options are 'casual' (default), 'classic', 'oldstyle' and 'banking'
\moderncvcolor{blue}    % color options 'blue' (default), 'orange', 'green', 'red', 'purple', 'grey' and 'black'

% character encoding
\usepackage[utf8]{inputenc}

% adjust the page margins
\usepackage[scale=0.75]{geometry}

% personal data
\name{\BLOCK{ if name }\VAR{name}\BLOCK{ else }Professional\BLOCK{ endif }}{\BLOCK{ if surname }\VAR{surname}\BLOCK{ else }Candidate\BLOCK{ endif }}
\address{\BLOCK{ if address }\VAR{address}\BLOCK{ else }City, State\BLOCK{ endif }}
\phone[mobile]{\BLOCK{ if phone }\VAR{phone}\BLOCK{ else }123-456-7890\BLOCK{ endif }}
\email{\BLOCK{ if email }\VAR{email}\BLOCK{ else }email@example.com\BLOCK{ endif }}

\begin{document}

\recipient{Hiring Manager}{Company Name}
\date{\today}
\opening{Dear Hiring Manager,}
\closing{Sincerely,}
\enclosure[Attached]{Resume}

\makelettertitle

\VAR{cover_letter_text}

\makeletterclosing

\end{document}
